PORT=8000

DB_LOCAL_URI=your_mongodb_uri_here

JWT_SECRET=your_secret
JWT_EXPIRE=7d
COOKIE_EXPIRE=7

CLOUDINARY_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

BACKEND_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3000

STRIPE_API_KEY=
STRIPE_SECRET_KEY=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM_NAME=
SMTP_FROM_EMAIL=
